[submodule "project/external/emsdk"]
	path = project/external/emsdk
	url = git@github.com:emscripten-core/emsdk.git
[submodule "project/external/SDL"]
	path = project/external/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "project/external/glm"]
	path = project/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "project/external/stb/stb"]
	path = project/external/stb/stb
	url = git@github.com:nothings/stb.git
